<!DOCTYPE html>
<html>
<head>
	<title>Edit hello Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">
			
		<form action="/editlec" autocomplete="on" method = "POST" enctype="multipart/form-data">

			

		  		Lecturer ID:<br> {{ id}} <input style="height:25px;font-size:14pt;color:grey;" name="lec_id" value="{{ id}} "  type="hidden"><br><br>

				Password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="password" value="{{ psw}} " ><br><br>

		  		Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="name" value="{{ name}} " ><br><br>

		  		Gender:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="gender" value="{{ gender}} " ><br><br>

		  		Email:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="email" value="{{ email}} " ><br><br>

		  		Expertis:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="expertis" value="{{ expertis}} " ><br><br>

		  		Image: <input type=file name="lec_image_file" style="height:25px;font-size:14pt;color:grey;" value="{{ image_url}} "> <br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE DATABASE</button>

			</form>
			

		</body>

	</font>
</center>
</html>

