<!DOCTYPE html>
<html>
<head>
<center>
	<font color="grey" size="5" style="font-family: avenir">
		<body bgcolor="lightgrey">
			{% if student_list %}
                <h1>Picked Up Student Success</h1><br>
                <h2>Following student has been picked</h2><br>
                
				<table>
					<thead>
						<tr>							
							<td>ID</td>
							<td>Name</td>
							<td>Gender</td>
							<td>Email</td>
							<td>Level</td>
							<td>Programme</td>
							<td>Cohort</td>
						</tr>
					</thead>
					<tbody>													
							{% for student in student_list %}
							<tr>
								<td> {{ student.student_id }}</td>
								<td> {{ student.name }}</td>
								<td> {{ student.gender }}</td>
								<td> {{ student.email }}</td>
								<td> {{ student.level }}</td>
								<td> {{ student.programme }}</td>
								<td> {{ student.cohort }}</td>
							</tr>
							{% endfor %}				
					</tbody>
				</table>                          
            
                <title>Student Picked Up Output</title>
                    <form action="/pickUp" autocomplete="on" method="GET">
						<input  type="hidden" name="lec_id" value="lec001" >				
                        <br><button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>
                    </form>
            {% else %} 
                <h1>Please select at least one student</h1><br>                              
                <title>None selected student</title>
                    <form action="/pickUp" autocomplete="on" method="GET">
						<input  type="hidden" name="lec_id" value="lec001" >				
                        <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>
                    </form>
            {% endif %}  
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>


