<!DOCTYPE html>
<html>
<head>
<center>
	<font color="grey" size="5" style="font-family: avenir">
		<body bgcolor="lightgrey">
            {% if resultAttributes %}
                <h1>Approve Success</h1><br>
                <h2>Following request has been approved</h2><br>
                
                   
                    <h5>

                        {% for student_id in resultStudentId %}
                        {% set index = resultStudentId.index(student_id) %}
                        {% set attribute = resultAttributes[index] if index < resultAttributes|length else '' %}
                        {% set ori = resultOri[index] if resultOri is defined and index < resultOri|length else '' %}
                        {% set change = resultChange[index] if resultChange is defined and index < resultChange|length else '' %}
                        
                        <!-- Your code here using student_id, attribute, ori, and change -->
                        {{ student_id }} ({{ attribute }}) : old {{ ori }} to new: {{ change }}<br>
                    {% endfor %}
                    
 
                    </h5>
                   
                
                <title>Request Approve Output</title>
                    <form action="/displayRequest" autocomplete="on" method="GET">
                        <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>
                    </form>
            {% else %} 
                <h1>Please select at least one request</h1><br>                              
                <title>None selected request</title>
                    <form action="/displayRequest" autocomplete="on" method="GET">
                        <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>
                    </form>
            {% endif %}  
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
