<!DOCTYPE html>
<html>
<head>
<center>
	<font color="grey" size="5" style="font-family: avenir">
		<body bgcolor="lightgrey">
			<h1>SAVE SUCCESSFUL</h1><br>
			<h2>Following Lecturer has been update to the database</h2><br>
			<h2>{{ name }}</h2><br>
			<title>Edit Lecturer Output</title>
				<form action="/leclogin" autocomplete="on" method = "GET">

					<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" 
					>GO BACK</button><br><br>

				</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>


